MASTERSTOCK_MARKET_DATABASE=data/market.sqlite3
MASTERSTOCK_WATCHLIST_DATABASE=data/master_watchlist.sqlite3
MASTERSTOCK_USER_DATABASE=data/users.sqlite3
MASTERSTOCK_SITE_OWNER_USERNAME=我不是来玩的
MASTERSTOCK_SECURE_COOKIES=1
MASTERSTOCK_ACCESS_LOGGING=1
MASTERSTOCK_TRUSTED_PROXIES=127.0.0.1/32,::1/128
# 可选：本地 GeoLite2 City 数据库，不会把访客 IP 发送给第三方
MASTERSTOCK_GEOIP_DATABASE=/var/lib/masterstock/GeoLite2-City.mmdb
MASTERSTOCK_WEB_HOST=127.0.0.1
MASTERSTOCK_WEB_PORT=8000
TUSHARE_TOKEN=
MASTERSTOCK_TUSHARE_CALLS_PER_MINUTE=48
MASTERSTOCK_MINIMUM_STOCK_COUNT=4500
